/* --- header --- */

#header {
    #logo {

        #image_logo {
            background-image: url('../images/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 10vh;
            width: 20vh;
        }
    }
    #login {
        flex-wrap: nowrap;
        justify-content: space-around;
        input {

            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-image: url('../images/search.png');
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }
// --- animated search input --- //

        input[type=search] {
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type=search]:focus {
            width: 100%;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            border-radius: 4px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            padding: 5px 32px;
        }
        #search {
            flex-grow: 2;
        }
        #button_login {
            flex-grow: 1;

        }
    }



}




/* --- menu --- */
#logo {
  justify-content: space-between;
  #menu_mobile {
    align-self: flex-start;

  }
}

#nav {
  display: none;
}

#menu {
  .container {
    justify-content: flex-end;
  }
  p {
    margin-right: 10px;
  }
}

#decoration {
  height: 10px;
  width: 100%;
  background: #4CAF50;
}


/* --- landscape --- */

#section_landscape {
    justify-content: flex-end;
    background-image: url('../images/zdjecie_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: blue;
    width: 100vw;
    height: 50vh;
    #element_decoration {

    }
    #window {
      background: #4CAF50;
      width: 220px;
      height: 130px;
      button {
        background-color: black;
        border: none;
        color: white;
        border-radius: 4px;
        text-decoration: none;
        margin: 45px 2px;
        cursor: pointer;
        padding: 5px 32px;
      }
      padding: 12px;
      border-radius: 4px;
    }
}


/* --- key --- */

#section_key {
    .container {
        //position: relative;
        height: 100%;

    }
    #image_key {
        background-image: url('../images/klucze.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 20vh;
        width: 20vh;

    }
    #text_key {
        //position: absolute;

        width: 80%;
    }
    #slide {
        width: 80%;
        #slide_price {
            height: 2vh;
            //width: 100%;
            background-color: green;
        }
        #slide_time {
            height: 2vh;
            background-color: green;
        }
    }

}

/* --- section_icons --- */

#section_icons {
  div:nth-child(n) {
      background-color: lightgreen;
      flex-direction: column;
  }
    #icon_computer {
        background-image: url('../images/ikona_komputer.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 10vh;
        width: 10vh;
    }
    #icon_cloud {
        background-image: url('../images/logo_chmurka.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 10vh;
        width: 10vh;
    }
    #icon_percent {
        background-image: url('../images/ikona_procent.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 10vh;
        width: 10vh;
    }
}


/* --- section_details --- */

#section_details {
  div:nth-child(n) {
      justify-content: flex-start;
  }
}

/* --- footer --- */

#footer {
  div:nth-child(1) {
      flex-direction: column;
      align-items: flex-start;

  }
  div:nth-child(2) {
      justify-content: flex-start;
  }
}
