.grid-container {
    width : 100%;
    //max-width : 1200px;
    padding: 20px;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
